html
    head
        title Signup on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            form(method="GET")
                    h1 Nom d'utilisateur
                    input(name='username')
                    input(type='submit').btn