html
    head
        title Signup on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            img(src=user.avatar_url).responsive-img.circle
            h1 #{user.login}
            p #{user.bio}